[submodule "crab-shell-proxy"]
	path = crab/crab-shell-proxy
	url = https://github.com/LepistaBioinformatics/crab-shell-proxy.git
[submodule "crab/crab-exoskeleton-webapp"]
	path = crab/crab-exoskeleton-webapp
	url = https://github.com/LepistaBioinformatics/crab-exoskeleton-webapp.git
[submodule "crab/harness-sphere"]
	path = crab/harness-sphere
	url = https://github.com/LepistaBioinformatics/harness-sphere.git
